/* font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive; */

:root {
  --primary-color: #f5f2f9;
  --secondary-color: #433a5b;
  --primary-font: "Bebas Neue", sans-serif;
  --secondary-font: "Caveat", sans-serif;
  --default-font: "Lato", sans-serif;
}

h1 {
  font-family: var(--primary-font);
  font-size: 96px;
  color: var(--secondary-color);
}

h2 {
  font-family: var(--secondary-font);
  font-size: 35px;
}

.homepage-hero {
  padding: 100px 0px 15px 0px;
  background: var(--primary-color);
}

.homepage-hero p {
  font-size: 35px;
  font-family: var(--secondary-font);
}

.homepage-hero div {
  margin: 50px 100px;
  font-family: var(--default-font);
}

.homepage-content h2 {
  font-size: 25px;
  font-family: var(--primary-font);
  color: #d5cee0;
}

@media (max-width: 650px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .homepage-hero {
    padding: 20px 0px 15px 0px;
  }
  .homepage-hero div {
    margin: 20px;
  }
}
