/* font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive; */

:root {
  --primary-color: #f5f2f9;
  --secondary-color: #433a5b;
  --primary-font: "Bebas Neue", sans-serif;
  --secondary-font: "Caveat", sans-serif;
  --default-font: "Lato", sans-serif;
}

h1 {
  font-family: var(--primary-font);
  font-size: 96px;
  color: var(--secondary-color);
}

h2 {
  font-family: var(--secondary-font);
  font-size: 35px;
}

p {
  display: block;
  font-size: 18px;
  margin: 30px 100px;

  font-family: var(--default-font);
}

.hero p {
  font-size: 35px;
  font-family: var(--secondary-font);
  margin: 10px;
}

.hero {
  text-align: center;
  padding: 100px 20px 70px 20px;
  background: var(--primary-color);
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;

  line-height: 27px;
  padding: 15px 30px;
  margin-top: 30px;
  font-family: var(--default-font);
}
:hover.btn-branding {
  background-color: var(--default-font);
  color: var(--secondary-color);
  font-weight: bold;
  border: var(--secondary-color) 1px solid;
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    margin: 25px;
  }
  .hero {
    padding: 70px 0px 15px 0px;
  }
  .hero p {
    font-size: 20px;
  }

  .btn-branding {
    font-size: 10px;
    padding: 5px 15px;
    margin: 15px;
  }
}
